  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Roboto:wght@400;500;700&display=swap');

/*navegador */
body > header > nav {
  background-color: #f5f2f2!important;
}
#menuLateral{
  background-color: #f5f2f2!important;
}
body > header > nav {
  padding-bottom: 0px !important;
  padding-top: 0rem !important;
}

body > header > nav > div > a {
  padding-bottom: 0px !important;
}
.nav-link{
  color: rgb(215,155,232) !important;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 700 !important;
  position: relative; 
  text-decoration: none;
}
.nav-link:hover{
  color: #a781fb !important;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background-color: #a781fb;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}

.nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}





.navbar-toggler {
  background-color: rgb(215,155,232) !important; /* Cambia el fondo del icono */
  border-color: rgb(215,155,232) !important; /* Cambia el borde del icono (si es necesario) */
}
.navbar-toggler:hover {
  border-color: #a781fb !important;
  background-color: #a881fb !important; 
}


body {
  background-color: #EEE0C9;
}

#title > * {
  background-color: #ADC4CE ;
  color: rgb(33,175,255);
}



/* text fonts edith */
h1{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #333333;
}


/* Logo Maneocreativa y querys de el mismo */

@media (max-width: 380px) {
  #mano-logo {
    max-width: 90% !important;
    height: 100%;
    padding-left: 1rem;
  }
  #mano-name {
    padding-top: 1.5rem;
    max-width: 100% !important;
    height: 100%;
  }
  body > header > nav > div > button{
    max-width: 30% !important;
    height: 100%;
  }
}
@media (min-width: 380px) and (max-width: 580px) {
  #mano-logo {
    max-width: 90% !important;
    height: 100%;
  }
  #mano-name {
    padding-top: 2.0rem;
    max-width: 110% !important;
    height: 100%;
  }
}
@media (min-width: 580px) {
  #mano-logo {
    max-width: 75% !important;
    height: 100%;
  }
  #mano-name {
    padding-top: 2.0rem;
    padding-left: 3rem;
    max-width: 200% !important;
    height: 100%;
  }
}

/* cards */

.card-color {
  border-color: #d79be8;
  border: 3px solid #d79be8 !;
  border-radius: 3px;
}
.card-button {
  border-color: #d79be8 !important;
  border: 3px solid #d79be8 !important;
  border-radius: 3px;
  background-color: #d79be8;
}
/* card texts */
.card-body > h5 {
  font-family: 'Roboto', sans-serif !important;
  font-weight: 700;
}
.card-body > p {
  font-family: 'Roboto', sans-serif !important;
  font-weight: 400;
}



.card-button:hover {
  border-color: #a781fb !important;
  border: 3px solid #a781fb !important;
  border-radius: 3px;
  background-color: #a781fb;
}
.card.card-color{
  width: 18rem;
}

video {
  width: 100%;
  height: auto;
  pointer-events: none;
}

/* cards sale status */
/* cards sale onsale */
.sale-status.on-sale {
  padding: 0.34em 1em;
  margin: 0;
  margin-top: 5%;
  position: relative;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.1em;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 20px rgba(0, 0, 0, 0.1), 0px 1px 1px rgba(0, 0, 0, 0.4);
  background: #4A90E2; /* Usamos un tono de azul un poco más claro (#4A90E2) */
  display: inline-block;
  position: absolute;
  top: 0%;
  left: -0.3%;
  font-family: 'Roboto', sans-serif !important;
  font-weight: 500;
}
.sale-status.on-sale:before {
  content: "";
  width: 0.2em;
  bottom: -0.5em;
  position: absolute;
  display: block;
  border: 0.9em solid #4A90E2; /* Cambiamos el color del borde a un azul un poco más claro (#4A90E2) */
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4);
  z-index: -2;
  left: -1.35em;
  border-right-width: 0.75em;
  border-left-color: transparent;
}

/* cards sale sold */
.sale-status.sold {
  padding: 0.34em 1em;
  margin: 0;
  margin-top: 5%;
  position: relative;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.1em;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 20px rgba(0, 0, 0, 0.1), 0px 1px 1px rgba(0, 0, 0, 0.4);
  background: #808080; /* Usamos un tono de gris (#808080) para representar que el artículo está vendido */
  display: inline-block;
  position: absolute;
  top: 0%;
  left: -0.3%;
  font-family: 'Roboto', sans-serif !important;
  font-weight: 500;
}
.sale-status.sold:before {
  content: "";
  width: 0.2em;
  bottom: -0.5em;
  position: absolute;
  display: block;
  border: 0.9em solid #808080; /* Cambiamos el color del borde a gris (#808080) */
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4);
  z-index: -2;
  left: -1.35em;
  border-right-width: 0.75em;
  border-left-color: transparent;
}

/* cards in progress */
.sale-status.in-progress {
  padding: 0.34em 1em;
  margin: 0;
  margin-top: 5%;
  position: relative;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.1em;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 20px rgba(0, 0, 0, 0.1), 0px 1px 1px rgba(0, 0, 0, 0.4);
  background: -webkit-linear-gradient(top, #43C59E, #3AAB85); /* Usamos un gradiente de verde suave (#43C59E) a verde más oscuro (#3AAB85) */
  display: inline-block;
  position: absolute;
  top: 0%;
  left: -0.3%;
  font-family: 'Roboto', sans-serif !important;
  font-weight: 500;
}
.sale-status.in-progress:before {
  content: "";
  width: 0.2em;
  bottom: -0.5em;
  position: absolute;
  display: block;
  border: 0.9em solid #43C59E; /* Cambiamos el color del borde a verde suave (#43C59E) */
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4);
  z-index: -2;
  left: -1.35em;
  border-right-width: 0.75em;
  border-left-color: transparent;
}



/* Emoticones y stickers a la venta */
.custom-img {
  max-width: 60%;
  height: auto;
}

.mb-4 {
  margin-bottom: 15px;
}

#container-sticker {
  background-color: #d1c0ea;
}
#sticker-header {
  background-color: #ece4e4;
}
#sticker-body {
  background-color: #ece4e4;
}



/* liston de hot sale stickers */
.ribbon {
  width: 100px;
  height: 100px;
  overflow: hidden;
  position: absolute;
}
.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  border: 3px solid #D34240;
}
.ribbon span {
  position: absolute;
  display: block;
  width: 165px;
  background-color: #D34240;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  text-align: center;
  padding-right: 0.5rem;
  color: #333333;
}

.ribbon-top-right {
  top: 3rem;
  right: 3rem;
}
.ribbon-top-right::before,
.ribbon-top-right::after {
  border-top-color: transparent;
  border-right-color: transparent;
}
.ribbon-top-right::before {
  top: 0;
  left: 0;
}
.ribbon-top-right::after {
  bottom: 0;
  right: 0;
}
.ribbon-top-right span {
  left: -22px;
  top: 30px;
  transform: rotate(45deg);
}



/* footer */
.footer {
  background: #000;
  font-family: "Play", sans-serif;
  text-align: center;
  width: 100%;

  padding-bottom: 0.1rem;
}

.footer .row {
  width: 100%;
  color: gray;
  font-size: 0.8em;
}

.footer .row a {
  text-decoration: none;
  color: gray;
  transition: 0.5s;
}

.footer .row a:hover {
  color: #fff;
}

.footer .row ul {
  width: 100%;
}

.footer .row ul li {
  display: inline-block;
  margin: 0px 30px;
}

.footer .row a i {
  font-size: 2em;
  margin: 0% 1%;
}

@media (max-width: 720px) {
  .footer {
    text-align: left;
    padding: 5%;
  }
  .footer .row ul li {
    display: block;
    margin: 10px 0px;
    text-align: left;
  }
  .footer .row a i {
    margin: 0% 3%;
  }
}



@media (min-width: 992px) {
  .navbar-expand-lg .offcanvas {
    flex-grow: 0!important; /* Cambia el valor de flex-grow y añade !important */
  }
}

